.portfolio-bars{
    height: 5px;
    width: 90px;
    background-color: #2c3e50;
}
.portfolio-component{
    font-size: 40px;
    color: #2c3e50;
}
.portfolio-container{
    padding: 50px 0;
}
.portfolio-plus{
    font-size: 170px;
}
.portfolio-image-container div.position-absolute.start-0.end-0.bottom-0.top-0{
    background-color: rgba(87, 204, 165, 0.805);
    opacity: 0;
    transition: all 0.5s;
}
.portfolio-image-container:hover div.position-absolute.start-0.end-0.bottom-0.top-0{
   opacity: 1;
}
.portfolio-image-container{
    border-radius: 7px;
}
.display-cover{
    background-color: rgba(0, 0, 255, 0.523);
}

